<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>javalog</servlet-name>
        <servlet-class>javalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passc</servlet-name>
        <servlet-class>passc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPass</servlet-name>
        <servlet-class>AllPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secretjava</servlet-name>
        <servlet-class>secretjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addingstaff</servlet-name>
        <servlet-class>addingstaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffadd</servlet-name>
        <servlet-class>staffadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletingstaff</servlet-name>
        <servlet-class>deletingstaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffdetails</servlet-name>
        <servlet-class>staffdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studstatus</servlet-name>
        <servlet-class>studstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save</servlet-name>
        <servlet-class>save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstatus</servlet-name>
        <servlet-class>viewstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parentreg</servlet-name>
        <servlet-class>parentreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parent</servlet-name>
        <servlet-class>parent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studview</servlet-name>
        <servlet-class>studview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myparent</servlet-name>
        <servlet-class>myparent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parentlog</servlet-name>
        <servlet-class>parentlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statusparent</servlet-name>
        <servlet-class>statusparent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardianchange</servlet-name>
        <servlet-class>guardianchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nochange</servlet-name>
        <servlet-class>nochange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>noparent</servlet-name>
        <servlet-class>noparent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailchange</servlet-name>
        <servlet-class>emailchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parentpersonal</servlet-name>
        <servlet-class>parentpersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personal</servlet-name>
        <servlet-class>personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateacc</servlet-name>
        <servlet-class>updateacc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountupdate</servlet-name>
        <servlet-class>accountupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintwarden</servlet-name>
        <servlet-class>complaintwarden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewcomplaint</servlet-name>
        <servlet-class>viewcomplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wardenstudview</servlet-name>
        <servlet-class>wardenstudview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitoradd</servlet-name>
        <servlet-class>visitoradd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewvisitor</servlet-name>
        <servlet-class>viewvisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>todayvisitor</servlet-name>
        <servlet-class>todayvisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lastweekvisitor</servlet-name>
        <servlet-class>lastweekvisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onemonthvisitor</servlet-name>
        <servlet-class>onemonthvisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allvisitor</servlet-name>
        <servlet-class>allvisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectvalidate</servlet-name>
        <servlet-class>selectvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectionjava</servlet-name>
        <servlet-class>selectionjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainallocatejava</servlet-name>
        <servlet-class>mainallocatejava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suballocate</servlet-name>
        <servlet-class>suballocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomsuballocate</servlet-name>
        <servlet-class>roomsuballocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewroomvacancy</servlet-name>
        <servlet-class>viewroomvacancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form1</servlet-name>
        <servlet-class>form1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form2</servlet-name>
        <servlet-class>form2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form3</servlet-name>
        <servlet-class>form3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form4</servlet-name>
        <servlet-class>form4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changemainallocatejava</servlet-name>
        <servlet-class>changemainallocatejava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studroomdisplay</servlet-name>
        <servlet-class>studroomdisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generalroomdisplay</servlet-name>
        <servlet-class>generalroomdisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentvacate</servlet-name>
        <servlet-class>studentvacate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vacatepermission</servlet-name>
        <servlet-class>vacatepermission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>javalog</servlet-name>
        <url-pattern>/javalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passc</servlet-name>
        <url-pattern>/passc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPass</servlet-name>
        <url-pattern>/AllPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secretjava</servlet-name>
        <url-pattern>/secretjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addingstaff</servlet-name>
        <url-pattern>/addingstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffadd</servlet-name>
        <url-pattern>/staffadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletingstaff</servlet-name>
        <url-pattern>/deletingstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffdetails</servlet-name>
        <url-pattern>/staffdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studstatus</servlet-name>
        <url-pattern>/studstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstatus</servlet-name>
        <url-pattern>/viewstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parentreg</servlet-name>
        <url-pattern>/parentreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parent</servlet-name>
        <url-pattern>/parent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studview</servlet-name>
        <url-pattern>/studview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myparent</servlet-name>
        <url-pattern>/myparent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parentlog</servlet-name>
        <url-pattern>/parentlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusparent</servlet-name>
        <url-pattern>/statusparent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardianchange</servlet-name>
        <url-pattern>/guardianchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nochange</servlet-name>
        <url-pattern>/nochange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>noparent</servlet-name>
        <url-pattern>/noparent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailchange</servlet-name>
        <url-pattern>/emailchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parentpersonal</servlet-name>
        <url-pattern>/parentpersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personal</servlet-name>
        <url-pattern>/personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateacc</servlet-name>
        <url-pattern>/updateacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountupdate</servlet-name>
        <url-pattern>/accountupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintwarden</servlet-name>
        <url-pattern>/complaintwarden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewcomplaint</servlet-name>
        <url-pattern>/viewcomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wardenstudview</servlet-name>
        <url-pattern>/wardenstudview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitoradd</servlet-name>
        <url-pattern>/visitoradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewvisitor</servlet-name>
        <url-pattern>/viewvisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>todayvisitor</servlet-name>
        <url-pattern>/todayvisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lastweekvisitor</servlet-name>
        <url-pattern>/lastweekvisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onemonthvisitor</servlet-name>
        <url-pattern>/onemonthvisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allvisitor</servlet-name>
        <url-pattern>/allvisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectvalidate</servlet-name>
        <url-pattern>/selectvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectionjava</servlet-name>
        <url-pattern>/selectionjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainallocatejava</servlet-name>
        <url-pattern>/mainallocatejava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suballocate</servlet-name>
        <url-pattern>/suballocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomsuballocate</servlet-name>
        <url-pattern>/roomsuballocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewroomvacancy</servlet-name>
        <url-pattern>/viewroomvacancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form1</servlet-name>
        <url-pattern>/form1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form2</servlet-name>
        <url-pattern>/form2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form3</servlet-name>
        <url-pattern>/form3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form4</servlet-name>
        <url-pattern>/form4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changemainallocatejava</servlet-name>
        <url-pattern>/changemainallocatejava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studroomdisplay</servlet-name>
        <url-pattern>/studroomdisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generalroomdisplay</servlet-name>
        <url-pattern>/generalroomdisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentvacate</servlet-name>
        <url-pattern>/studentvacate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vacatepermission</servlet-name>
        <url-pattern>/vacatepermission</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
